@model IcbcodeContent
@{
    var menus = IcbcodeContent.Get(new string[] { "glavnoe-menyu" });

    var settings = IcbcodeVariable.All(IcbcodeUtility.CurrentDomain);
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@Model.Title</title>
    <meta name="description" content="@Model.Description">
    <meta name="keywords" content="@Model.Keywords">
    <link rel="shortcut icon" href="~/Front/dist/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/Front/dist/assets/css/app.css">
    @Html.Raw(settings["schetchik-google-analytics"])
</head>
<body>
    <div class="loader"><img src="~/Front/dist/assets/images/spinner.svg" alt=""></div>
    <main class="wrapper" id="app" data-emergence="hidden">
        <!-- WEBSITE-->
        <div class="content">
            <div class="@(Model.IsMain ? "page-index" : "page")">
                <header class="header">
                    <div class="container">
                        <div class="header__row">
                            <a class="header__logo" href="~/"><img src="~/Front/dist/assets/images/logo/logo.png" alt=""></a>
                            <nav class="header__nav">
                                <ul>
                                    @foreach (var item in menus)
                                    {
                                        <li>
                                            <a class="@(item.Url == "/produkciya" ? "js-scrollTo-products" : null)" href="@(item.Url == "/produkciya" ? "/#products" : item.Url)">@item.Link</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="btn btn--primary-gradient js-modal" data-modal="request">Оставить заявку</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <svg class="svg-icon">
                                        <use href="~/Front/dist/assets/icons/sprite.svg#icon-place"></use>
                                    </svg>
                                </div>
                                <div class="contact-item__content">
                                    @settings["kratkij-adres"]
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <svg class="svg-icon">
                                        <use href="~/Front/dist/assets/icons/sprite.svg#icon-phone"></use>
                                    </svg>
                                </div>
                                <div class="contact-item__content">
                                    <a class="contact-item__phone" href="tel:@settings["telefon"]">@settings["telefon"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                @if (Model.IsMain == false)
                {
                    <section class="page-intro">
                        <div class="container">
                            <div class="breadcrumbs">
                                <a href="~/">Главная</a>
                                @foreach (var item in Model.Parents)
                                {
                                    <span>/ </span>
                                    if (item.ID == Model.ID)
                                    {
                                        <span>@item.Link</span>
                                    }
                                    else
                                    {
                                        <a href="@item.Url">@item.Link</a>
                                    }
                                }
                            </div>
                            <div class="page-intro__buttons">
                                <a class="btn btn--green-gradient">Получить прайс лист</a><a class="btn btn--primary-gradient js-modal" data-modal="request">Оставить заявку</a>
                            </div>
                        </div>
                    </section>
                }
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="footer__top">
                        <h3 class="title">
                            Наши контакты
                        </h3>
                        <div class="typography">
                            <p>Контакты компании "Гранат”</p>
                        </div>
                        <div class="follow">
                            <ul>
                                <li>
                                    <a href="@settings["instagram"]" rel="nofollow" target="_blank"><img src="~/Front/dist/assets/images/social/instagram.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="@settings["vkontakte"]" rel="nofollow" target="_blank"><img src="~/Front/dist/assets/images/social/vk.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__row">
                        <div class="footer__col">
                            <ul class="contacts">
                                <li>
                                    <div class="contacts__icon">
                                        <svg class="svg-icon">
                                            <use href="~/Front/dist/assets/icons/sprite.svg#icon-phone"></use>
                                        </svg>
                                    </div><a class="not-decoration-link" href="tel:@settings["telefon"]">@settings["telefon"]</a>
                                </li>
                                <li>
                                    <div class="contacts__icon">
                                        <svg class="svg-icon">
                                            <use href="~/Front/dist/assets/icons/sprite.svg#icon-mail"></use>
                                        </svg>
                                    </div><a href="mailto:@settings["email"]">@settings["email"]</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__col">
                            <div class="footer__address">
                                <p>@settings["polnij-adres"]</p><a class="address-link js-modal" data-modal="map">
                                    <span>Показать на карте</span>
                                    <svg class="svg-icon">
                                        <use href="~/Front/dist/assets/icons/sprite.svg#icon-place"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__bottom">
                        <a class="footer__logo" href="~/"><img src="~/Front/dist/assets/images/logo/logo.png" alt=""></a>
                        <p>@settings["kopirajt"]</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- MODALS-->
        <div class="modal" id="request">
            <div class="modal-inner">
                <div class="modal-inner__close js-close-modal">
                    <svg class="svg-icon">
                        <use href="~/Front/dist/assets/icons/sprite.svg#icon-cross"></use>
                    </svg>
                </div>
                <div class="modal-header modal-header--border-bottom">
                    <h3 class="modal-title">
                        <span>Оставить заявку</span>
                    </h3>
                </div>
                <form class="js-request-form">
                    <div class="modal-content">
                        <div class="field">
                            <label>Имя</label>
                            <input type="text" name="name">
                        </div>
                        <div class="field">
                            <label>E-mail</label>
                            <input type="text" name="email">
                        </div>
                        <div class="field">
                            <label>Телефон</label>
                            <input class="js-phone-mask" type="text" name="phone" placeholder="+7 (___) ___-__-__">
                        </div>
                    </div>
                    <div class="modal-footer modal-footer--center">
                        <button class="btn btn--primary">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal" id="map">
            <div class="modal-inner">
                <div class="modal-inner__close js-close-modal">
                    <svg class="svg-icon">
                        <use href="~/Front/dist/assets/icons/sprite.svg#icon-cross"></use>
                    </svg>
                </div>
                <div class="modal-content">
                    <div class="map" data-address="@settings["polnij-adres"]"></div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/Front/dist/assets/js/app.js"></script>
</body>
</html>