@model IcbcodeContent
@{
    var advantages = IcbcodeContent.Get(new string[] { "preimuschestva" });

    var products = IcbcodeContent.Get(new string[] { "produkciya" });

    var sliders = IcbcodeContent.Get(new string[] { "slajder" });

    var news = IcbcodeContent.Get(new string[] { "novosti" }, order_fields: "content_publish desc, content_id desc");

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="intro" data-emergence="hidden">
  <div class="container">
    <div class="intro__play" data-video-play>
      <svg class="svg-icon">
        <use href="~/Front/dist/assets/icons/sprite.svg#icon-pause"></use>
      </svg>
      <svg class="svg-icon">
        <use href="~/Front/dist/assets/icons/sprite.svg#icon-play"></use>
      </svg>
    </div>
    <div class="intro__row"> 
      <div class="intro__content">
        <h1 class="intro__title">Кубанское яблоко –<br/> вкус, знакомый<br/> с детства
        </h1>
        <div class="intro__buttons"><a class="intro-button" href="~/o-kompanii"><span>Подробнее о нас</span><span class="intro-button__icon"><img src="~/Front/dist/assets/images/icons/apple-details.png" alt=""></span></a>
        </div>
      </div>
      <div class="intro__news"> <a class="intro__news-title" href="~/novosti">Новости</a>
        <div class="intro__slider js-swiper-news swiper-no-swiping">
          <div class="swiper-wrapper">
          @foreach (var item in news)
            {
             var image = item.GetImage();
            <div class="swiper-slide"><a class="news-intro-item" href="@item.Url"> <span class="news-intro-item__image">
              <svg viewBox="0 0 716 801">
                <clippath id="my-clip-path" clippathunits="objectBoundingBox">
                  <path d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002"></path>
                </clippath>
                <image clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="@(image?.Url)?w=280&h=313&mode=crop"></image>
              </svg></span><span class="news-intro-item__content"> <span class="news-intro-item__date">@item.Publish.Value.ToString("dd/MM/yyyy")</span><span class="news-intro-item__title">@item.Link
              <svg class="svg-icon">
                <use href="~/Front/dist/assets/icons/sprite.svg#icon-left-arrow"></use>
              </svg></span></span></a>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <video class="intro__video" poster="~/Front/dist/assets/images/video.jpg" src="~/Front/dist/assets/images/video.mp4" playsinline muted autoplay loop data-video>
  </video>
</section>
<article class="gray">
    <section class="advantages" data-emergence="hidden">
        <div class="container">
            <div class="advantages__slider js-swiper-advantages swiper-no-swiping">
                <div class="swiper-wrapper">
                    @foreach (var item in advantages)
                    {
                        var image = item.GetImage();

                        <div class="swiper-slide">
                            <div class="advantage-item">
                                <div class="advantage-item__content">
                                    <div class="advantage-item__icon">
                                        <img src="@(image?.Url)" />
                                    </div>
                                    <p class="advantage-item__title">
                                        @Html.Raw(item.Name)
                                    </p>
                                    <div class="advantage-item__desc">
                                        @Html.Raw(item.ShortText)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="quote-right">
        <div><img src="~/Front/dist/assets/images/quotes/quote-right.png" alt=""></div>
    </div>
</article>
<section class="about" data-emergence="hidden">
    <div class="container">
        <div class="about__row">
            <div class="about__col">
                <p class="subtitle color-primary">
                    Узнайте
                </p>
                <h2 class="title">
                    @Model.H2
                </h2>
                <div class="typography">
                    @Html.Raw(Model.ShortText)
                </div>
                <div class="about__buttons">
                    <a class="btn btn--line-primary" href="~/o-kompanii">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="apple-slider" data-emergence="hidden">
    <div class="container">
        <div class="swiper-container js-swiper-apple">
            <div class="swiper-wrapper">
                @foreach (var item in sliders)
                {
                    var image = item.GetImage();

                    <div class="swiper-slide">
                        @if (item.IsRedirect)
                        {
                            <a href="@item.Url"><img src="@(image?.Url)?w=716&h=801&mode=crop" alt="@(image?.Description)"><div class="apple-slider__desc"><p>@item.Name</p></div></a>
                        }
                        else
                        {
                            <img src="@(image?.Url)?w=716&h=801&mode=crop" alt="@(image?.Description)"><div class="apple-slider__desc"><p>@item.Name</p></div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="swiper-prev">
            <svg class="svg-icon">
                <use href="~/Front/dist/assets/icons/sprite.svg#icon-001-right"></use>
            </svg>
        </div>
        <div class="swiper-next">
            <svg class="svg-icon">
                <use href="~/Front/dist/assets/icons/sprite.svg#icon-001-right"></use>
            </svg>
        </div>
        <div class="slider-dots"></div>
    </div>
</section>
<section id="products" class="products" data-emergence="hidden">
    <div class="container">
        <div class="products__row">
            @foreach (var item in products)
            {
                var image = item.GetImage();

                <div class="products__col">
                        <div class="product-item">
                            <div class="product-item__content">
                                <div class="product-item__image">
                                    <svg viewBox="0 0 716 801">
                                        <clippath id="my-clip-path" clippathunits="objectBoundingBox">
                                            <path d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002"></path>
                                        </clippath>
                                        <image clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="@(image?.Url)?w=225&h=250&mode=crop"></image>
                                    </svg>
                                </div>
                                <p class="product-item__title">
                                    @item.Link
                                </p>
                                <div class="product-item__desc">
                                    @Html.Raw(item.Text)
                                </div>
                            </div>
                        </div>
                </div>
            }
        </div>
    </div>
</section>
<div class="quote-left">
    <div><img src="~/Front/dist/assets/images/quotes/quote-left.png" alt=""></div>
</div>
<section class="cooperation" data-emergence="hidden">
    <div class="container">
        <div class="cooperation__row">
            <div class="cooperation__col">
                <p class="subtitle color-primary">
                    Выгодно!
                </p>
                <h3 class="title">
                    @Model.UserDefined.vigodno_zagolovok
                </h3>
                <div class="typography">
                    @Html.Raw(Model.UserDefined.vigodno_tekst)
                </div>
            </div>
        </div>
        <div class="steps" data-emergence="hidden">
            <div class="steps__col">
                <a class="btn btn--primary js-modal" data-modal="request">Отправить заявку</a>
            </div>
            <div class="steps__col">
                <div class="step-item">
                    <div class="step-item__icon">
                        <svg class="svg-icon">
                            <use href="~/Front/dist/assets/icons/sprite.svg#icon-mail"></use>
                        </svg>
                    </div>
                    <p class="step-item__title">
                        <span>Шаг</span><b>1    </b>
                    </p>
                    <div class="step-item__desc">
                        <p>Вы оставляете заявку <a class="js-modal" data-modal="request">на сайте</a> или по телефону    </p>
                    </div>
                </div>
            </div>
            <div class="steps__col">
                <div class="step-item">
                    <div class="step-item__icon">
                        <svg class="svg-icon">
                            <use href="~/Front/dist/assets/icons/sprite.svg#icon-doc"></use>
                        </svg>
                    </div>
                    <p class="step-item__title">
                        <span>Шаг</span><b>2   </b>
                    </p>
                    <div class="step-item__desc">
                        <p>Формируем все необходимые документы  </p>
                    </div>
                </div>
            </div>
            <div class="steps__col">
                <div class="step-item">
                    <div class="step-item__icon">
                        <svg class="svg-icon">
                            <use href="~/Front/dist/assets/icons/sprite.svg#icon-apples"></use>
                        </svg>
                    </div>
                    <p class="step-item__title">
                        <span>Шаг</span><b>3    </b>
                    </p>
                    <div class="step-item__desc">
                        <p>Готовим продукцию к отгрузке в удобное для Вас время.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="get-price" data-emergence="hidden">
    <div class="container">
        <div class="get-price__block">
            <div class="get-price__block-top">
                <div class="typography">
                    <p>Пожалуйста, оставьте свои данные, наш специалист вышлет актуальную информацию о наличии продукции в ближайшее время.</p>
                </div>
                <div class="get-price__intro-text">
                    <p class="subtitle color-primary">
                        Наши цены
                    </p>
                    <h3 class="title">
                        Узнать о наличии продукции
                    </h3>
                    <div class="get-price__icon">
                        <svg class="svg-icon">
                            <use href="~/Front/dist/assets/icons/sprite.svg#icon-profit"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <form class="get-price__form js-price-form">
                <div class="field">
                    <label>Имя</label>
                    <input type="text" name="name">
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <input type="text" name="email">
                </div>
                <div class="field">
                    <label>Телефон</label>
                    <input class="js-phone-mask" type="text" name="phone" placeholder="+7 (___) ___-__-__">
                </div>
                <button class="btn btn--primary">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</section>