<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/content/cms/icons/favicon.ico")" type="image/x-icon" />
    <link href="@Url.Content("~/content/cms/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/cms/css/redmond/jquery-ui-1.9.0.custom.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/jquery-1.8.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/jquery-ui-1.9.0.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/jquery.ui.datepicker-ru.js")" charset="utf-8"></script>
    <link rel="stylesheet" href="@Url.Content("~/content/cms/css/redactor.css")" />
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/redactor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/redactor.lang.ru.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/jquery.iframe-transport.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/icbcode.transliteration.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/icbcode.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/cms/js/script.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
